.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/lib/
/node_modules/
/versioned/
archive.json
draft-scheffenegger-congress-rfc5033bis.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
